<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Add email</h2>
    <form th:hx-post="@{/app/{tenantId}/contacts/{contactId}/add-email(tenantId=${tenant.id}, contactId=${contact.id})}"
          hx-swap="outerHTML"
          hx-target="#emails"
    >
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <label>
            <input type="email" name="email" placeholder="email" required class="lucent reversed" />
        </label>
        <label>
            <input type="checkbox" name="isPrimary" id="isPrimary" />
            Set as primary email
        </label>
        <button type="submit">Add Email</button>
        <a href="#"
           th:hx-get="@{/app/{tenantId}/contacts/{contactId}/emails(tenantId=${tenant.id}, contactId=${contact.id})}"
           hx-target="#emails"
           hx-swap="outerHTML"
           hx-trigger="click"
        >
            Cancel
        </a>
    </form>
</body>
</html>