<!DOCTYPE html>
<html lang="en">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="htmx-config" content='{"globalViewTransitions":true}'>
    <title th:text="${title}"></title>

    <script src="/webjars/htmx.org/dist/htmx.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}">
    <script type="text/javascript" src="/js/main.js"></script>
</head>
<body>

<div th:fragment="menu-overlay" class="menu-overlay" onclick="toggleMenu()"></div>

<div class="menu" th:fragment="menu(tenant, activeMenu)">
    <a class="menu-item" th:classappend="${activeMenu == 'dashboard'} ? active : inactive" th:href="@{'/app/'+${tenant}+'/dashboard'}">Dashboard</a>
    <a class="menu-item" th:classappend="${activeMenu == 'contacts'} ? active : inactive" th:href="@{'/app/'+${tenant}+'/contacts'}">All contacts</a>
    <a class="menu-item" th:classappend="${activeMenu == 'companies'} ? active : inactive">All companies</a>
    <a class="menu-item" th:classappend="${activeMenu == 'settings'} ? active : inactive">Settings</a>
</div>

<div th:fragment="menu-bar(text)" class="menu-bar">
    <svg id="menuButton" width="2em" height="2rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-btn" onclick="toggleMenu()">
        <rect y="4" width="24" height="2" fill="currentColor"/>
        <rect y="11" width="24" height="2" fill="currentColor"/>
        <rect y="18" width="24" height="2" fill="currentColor"/>
    </svg>

    <h2 th:text="${text}"></h2>

    <div>
        <th:block th:unless="${hideCreate}">
            <a th:href="@{/app/contacts/new}" th:hx-get="@{/app/contacts/new}" hx-push-url="true" hx-target="body"
               hx-swap="outerHtml transition:true" class="icon-link">
                <svg id="plusButton" width="4em" height="2rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-btn">
                    <rect x="10" y="4" width="4" height="16" fill="currentColor"/>
                    <rect x="4" y="10" width="16" height="4" fill="currentColor"/>
                </svg>
            </a>
        </th:block>

        <th:block th:unless="${hideSearch}">
            <svg id="searchButton" width="4em" height="2rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-btn">
                <circle cx="11" cy="11" r="8" stroke="currentColor" stroke-width="2"/>
                <line x1="16" y1="16" x2="22" y2="22" stroke="currentColor" stroke-width="2"/>
            </svg>
        </th:block>
    </div>
</div>

</body>
</html>