@import "main.css";

/* Main container */


/* Dashboard */
#dashboard-container h1 {
    font-size: 3rem;
    text-align: center;
    padding: 3rem 0;
}

#contacts-container {
    padding-top: 1rem;
}

/* New Contact */
#new-contact-container {
    padding-top: 1rem;
}