<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/main.html :: head(title='Dashboard | Network Builder')}">
    <title></title>
</head>
<body hx-boost="true">
<div class="main-container">
    <div th:replace="~{fragments/main.html :: menu-overlay}"></div>
    <div th:replace="~{fragments/main.html :: menu(tenant=${tenant.id}, activeMenu='dashboard')}"></div>
    <div id="dashboard-container">
        <h1>Dashboard</h1>

        <div th:replace="~{fragments/main.html :: menu-bar(tenant=${tenant.id}, text='')}"></div>
    </div>
</div>
</body>
</html>