<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/main.html :: head(title=${contact.name})}">
    <title></title>
</head>
<body>
    <div th:replace="~{fragments/main.html :: menu-overlay}"></div>
    <div th:replace="~{fragments/main.html :: menu (tenant=${tenant.id}, activeMenu='contacts')}"></div>

    <div id="contact-container">
        <div th:replace="~{fragments/main.html :: menu-bar(tenant=${tenant.id}, text=${contact.name}, hideSearch=true, hideCreate=true)}"></div>

        <h1 class="ac pt1">
            <span th:text="${contact.name}" th:style="|view-transition-name: cid-${contact.id}|"></span>
        </h1>
        <div th:replace="~{editContact/fragments/email.html :: edit-email(contact=${contact}, tenant=${tenant})}"></div>
    </div>
</body>
</html>